@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>

    <h2>Dashboard Enfermero</h2>

    <p>Peso Promedio de los Pokémon: @ViewBag.AverageWeight kg</p>

    <h3>Pokémon por Tipo</h3>
    <ul>
        @foreach (var item in ViewBag.PokemonsByType)
    {
        <li>@item.Tipo: @item.Count</li>
    }
    </ul>

    <h3>Lista de Pokémon</h3>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Debilidad</th>
                <th>Evolución</th>
                <th>Peso</th>
                <th>Número</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in Model)
        {
            <tr>
                <td>@pokemon.Nombre</td>
                <td>@pokemon.Tipo</td>
                <td>@pokemon.Debilidad</td>
                <td>@pokemon.Evolucion</td>
                <td>@pokemon.Peso</td>
                <td>@pokemon.Numero</td>
            </tr>
        }
        </tbody>
    </table>
</main>